/* tags */

:root {
  --fundo: #ffffff;
  --preto: #00000;
  --destaque: blue;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
}

.python-code {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 15px;
}

.keyword {
  color: var(--preto);
}

.shell {
  color: var(--preto);
  font-weight: bold;
}

.string {
  color: var(--preto);
}

.session-link {
  font-weight: bold;
  text-decoration: none;
}

.session-link:hover {
  color: var(--destaque);
}

.var {
  color: var(--preto);
  font-weight: bold;
}

section {
  height: 100vh;
  margin-top: 4rem;
  padding-top: 6.25rem;
}

a[href^="#"] {
  scroll-behavior: smooth;
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  padding: 0.5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

a,
a:visited {
  color: blue;
  font-weight: bold;
}

a:hover,
a:focus,
a:active {
  color: blue;
}

.retro-no-decoration {
  text-decoration: none;
}

html {
  font-size: 0.75rem;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 0.938rem;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 1rem;
  }
}

body {
  line-height: 1.85;
  height: 100%;
  bottom: 0;
}

p,
.retro-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.retro-h1,
h2,
.retro-h2,
h3,
.retro-h3,
h4,
.retro-h4 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.retro-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2,
.retro-h2 {
  font-size: 2.827rem;
}

h3,
.retro-h3 {
  font-size: 1.999rem;
}

h4,
.retro-h4 {
  font-size: 1.414rem;
}

h5,
.retro-h5 {
  font-size: 1.121rem;
}

h6,
.retro-h6 {
  font-size: 0.88rem;
}

small,
.retro-small {
  font-size: 0.707em;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

html,
body {
  background-color: #ffffff;
  min-height: 100%;
}

html {
  font-size: 1.125rem;
}

main {
  color: var(--preto);
  font-family: "Courier New";
  line-height: 1.45;
  margin: auto;
  max-width: 48rem;
}

pre {
  background-color: var(--preto);
}

blockquote {
  border-left: 3px solid blue;
  padding-left: 1rem;
}

button {
  background-color: #fafafa;
  color: blue;
  margin-top: 0px;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--preto);
  color: blue;
}

input {
  background-color: #fafafa;
  border: 1px solid blue;
  font-family: "Courier New";
  display: block;
  margin: 1rem auto;
  width: 80%;
  max-width: 350px;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
  outline: none;
  border-color: blue;
}

input[type="submit"] {
  background-color: blue;
  color: #fafafa;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: blue;
  color: #fafafa;
}

nav {
  background-color: #fafafa;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: space-between;
}

nav li {
  margin: 0 1rem;
}

nav a {
  display: block;
  padding: 1rem;
  color: blue;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: var(--destaque);
}

/* Estilo da barra de rolagem retro */
::-webkit-scrollbar {
  width: 0.625rem;
  /* 10px em rem */
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
}

.card {
  max-height: 90%;
}

.txt-center {
  text-align: center;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25rem;
  max-height: 65vh;
  overflow-y: auto;
  text-align: left;
}

.card {
  border-radius: 0.375rem;
  /* 6px em rem */
  box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  /* 0px 2px 4px rgba(0, 0, 0, 0.1) em rem */
  padding: 1.25rem;
  /* 20px em rem */
  margin-bottom: 1.25rem;
  /* 20px em rem */
}

.card h5 {
  font-size: 1.25rem;
  /* 20px em rem */
  margin-bottom: 0.625rem;
  /* 10px em rem */
}

.card p {
  margin-bottom: 0.625rem;
  /* 10px em rem */
}

.card a {
  text-decoration: none;
  margin-right: 0.625rem;
  /* 10px em rem */
}

.card a:hover {
  text-decoration: underline;
  color: var(--destaque);
}

.articles-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  justify-items: center;
  align-items: flex-start;
  max-height: 65vh;
  overflow-y: auto;
}

.articles-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.375rem;
  box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.articles-cards .card img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid blue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* mobile */

@media (max-width: 768px) {
  body {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }

  h2 {
    font-size: 1.827rem;
  }

  h1 {
    font-size: 2.998rem;
  }

  p {
    font-size: 0.8rem;
  }

  div {
    font-size: 15px;
  }

  .card {
    max-height: 100%;
  }

  .projects-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .articles-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
